:root {
    /*--fg-color: rgba(245, 245, 245, 0.95);
    --fg-color-2: rgba(180, 180, 180, 1);
    --bg-color: #1e1e1e;
    --bg-color-2: #2a2a2a;
    --bg-color-3: #121212;
    --bg-color-4: #0e0e0e;*/

    --fg-color: #c3e88d;
    --fg-color-2: #82aaff;
    --bg-color: #0f111a;
    --bg-color-2: #1a1c25;
    --bg-color-3: #131520;
    --bg-color-4: #0c0e16;

    --border-color: #2a2e3a;
    /* Soft bluish-gray border */

    font-family: 'Fira Code', 'JetBrains Mono', 'Inter', sans-serif;
    font-size: 1.6vw;
    line-height: 2.8vw;
    font-weight: 400;

    color: var(--fg-color);
    background-color: var(--bg-color-3);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--fg-color-2);
    background-color: var(--bg-color-3);
    border-color: var(--border-color);
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(1, 0, 0, 0.2);
    transition: 0.2s ease;
    box-shadow: 0 10px 20px var(--bg-color);
}

.button:hover {
    color: var(--fg-color);
    background-color: var(--bg-color-4);
    box-shadow: 0 10px 20px var(--bg-color-2);
}

.button:active {
    box-shadow: 0 0px 0px var(--bg-color);
}

.no-select {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}
